<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go App</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/dropzone.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/select2.min.css">
    <link rel="stylesheet" href="/static/css/select2-bootstrap4.min.css">
    <style text="text/css">.bodycontent { padding-top: 80px; }
            .dropzone {border: 2px dashed #967ADC; background: #F3F3F3;}
            .btn, .btn:active, .btn:focus, .btn:hover{   
                outline:none !important;
                border:none !important;
            }
    </style>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">Go App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="leftnav">
            </ul>
        </div>
    </nav>
    <div id="content" class="container-fluid bodycontent">
    </div>
    <script src="/static/js/jquery.slim.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/dropzone.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/select2.min.js"></script>
    <script src="/static/js/jquery.qrcode.min.js"></script>
    <script src="/static/js/adapter.min.js?v1.0"></script>
    <script src="/static/js/instascan.min.js?v1.0"></script>
    <script src="/static/client.js?v1.1"></script>
</body>

</html>
